<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.syncfusion.sampleBrowser.sfmaskededit" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="MaskedEdit Sample"></application>
</manifest>