<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Licensing" version="18.1.0.52" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.Buttons.Android" version="18.1.0.52" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.Calculate" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="Syncfusion.Xamarin.Compression" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="Syncfusion.Xamarin.DataSource" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="Syncfusion.Xamarin.DocIO" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="Syncfusion.Xamarin.DocIORenderer" version="18.1.0.52" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.GridCommon" version="18.1.0.52" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.OfficeChart" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="Syncfusion.Xamarin.Pdf" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="Syncfusion.Xamarin.Presentation" version="18.1.0.52" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.PresentationRenderer" version="18.1.0.52" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfAutoComplete.Android" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="Syncfusion.Xamarin.SfBarcode.Android" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="Syncfusion.Xamarin.SfBusyIndicator.Android" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="Syncfusion.Xamarin.SfCalendar.Android" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="Syncfusion.Xamarin.SfCarousel.Android" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="Syncfusion.Xamarin.SfChart.Android" version="18.1.0.52" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfComboBox.Android" version="18.1.0.52" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfDataForm.Android" version="18.1.0.52" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfDataGrid.Android" version="18.1.0.52" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfDiagram.Android" version="18.1.0.52" targetFramework="monoandroid81" />
  <package id="syncfusion.Xamarin.SfGauge.Android" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="Syncfusion.Xamarin.DataGridExport.Android" version="18.1.0.52" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfImageEditor.Android" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="Syncfusion.Xamarin.SfKanban.Android" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="Syncfusion.Xamarin.SfMaps.Android" version="18.1.0.52" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfMaskedEdit.Android" version="18.1.0.52" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfNavigationDrawer.Android" version="18.1.0.52" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfNumericTextBox.Android" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="Syncfusion.Xamarin.SfNumericUpDown.Android" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="Syncfusion.Xamarin.SfPdfViewer.Android" version="18.1.0.52" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfPicker.Android" version="18.1.0.52" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfPopupLayout.Android" version="18.1.0.52" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfProgressBar.Android" version="18.1.0.52" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfPullToRefresh.Android" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="Syncfusion.Xamarin.SfRadialMenu.Android" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="Syncfusion.Xamarin.SfRangeSlider.Android" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="Syncfusion.Xamarin.SfRating.Android" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="Syncfusion.Xamarin.SfRotator.Android" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="Syncfusion.Xamarin.SfSchedule.Android" version="18.1.0.52" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfSparkline.Android" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="Syncfusion.Xamarin.SfSunburstChart.Android" version="18.1.0.52" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfTabView.Android" version="18.1.0.52" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfTreeMap.Android" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="Syncfusion.Xamarin.SfTreeView.Android" version="18.1.0.52" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.XlsIO" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="Syncfusion.Xamarin.XlsIORenderer" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="Syncfusion.Xamarin.SkiaSharpHelper" version="18.1.0.52" targetFramework="monoandroid71" />
  <package id="SkiaSharp" version="1.59.3" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Annotations" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Compat" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.UI" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.Utils" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Fragment" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Media.Compat" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v17.Leanback" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v4" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.CardView" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="25.4.0.2" targetFramework="monoandroid71" />
</packages>