<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="enabled" value="True"/>
		<add key="automatic" value="True"/>
	</packageRestore>
	<packageSources>
		<add key="Syncfusion Xamarin Source Package 16.3.0.21" value="http://nuget.syncfusion.com/nuget_xamarin/nuget/getsyncfusionpackages/xamarin"/><add key="Syncfusion Xamarin Samples Package 16.3.0.21" value="http://nuget.syncfusion.com/nuget_xamarinsb/nuget/getsyncfusionpackages/xamarinsb"/></packageSources>
	<activePackageSource>
		<add key="Syncfusion Xamarin Source Package 16.3.0.21" value="http://nuget.syncfusion.com/nuget_xamarin/nuget/getsyncfusionpackages/xamarin"/><add key="Syncfusion Xamarin Samples Package 16.3.0.21" value="http://nuget.syncfusion.com/nuget_xamarinsb/nuget/getsyncfusionpackages/xamarinsb"/></activePackageSource>
	<bindingRedirects>
		<add key="skip" value="False"/>
	</bindingRedirects>
</configuration>
