<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.syncfusion.samplebrowser.calculate">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Calculate Sample"></application>
</manifest>

