@font-face {
font-family: 'SB Icons';
src:
url('Fonts/SB Icons.ttf') format('truetype'),
url('Fonts/SB Icons.woff') format('woff'),
url('Fonts/SB Icons.eot') format('eot'),
url('Fonts/SB Icons.svg?#SB Icons') format('svg');
font-weight: normal;
font-style: normal;
}

[class^="sf-icon-"], [class*=" sf-icon-"] {
 font-family: 'SB Icons' !important;
speak: none;
font-size: 55px;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.sf-icon-Gymnastic:before { content: "\e700"; }
.sf-icon-Cycling:before { content: "\e701"; }
.sf-icon-arm-wrestling-wf:before { content: "\e702"; }
.sf-icon-Conference1:before { content: "\e703"; }
.sf-icon-Meeting:before { content: "\e704"; }
.sf-icon-Diving:before { content: "\e705"; }
.sf-icon-Airship:before { content: "\e706"; }
.sf-icon-PPT:before { content: "\e707"; }
.sf-icon-Calendar:before { content: "\e708"; }
.sf-icon-Book1:before { content: "\e709"; }
.sf-icon-Book2:before { content: "\e70a"; }
.sf-icon-PDFreader:before { content: "\e70b"; }
.sf-icon-MusicFolder:before { content: "\e70c"; }
.sf-icon-Shooting:before { content: "\e70d"; }
.sf-icon-Archery:before { content: "\e70e"; }
.sf-icon-Shoe2:before { content: "\e70f"; }
.sf-icon-Note:before { content: "\e710"; }
.sf-icon-CD:before { content: "\e711"; }
.sf-icon-Soccer:before { content: "\e712"; }
.sf-icon-Word:before { content: "\e713"; }
.sf-icon-Shoe1:before { content: "\e715"; }
.sf-icon-Newspaper:before { content: "\e716"; }
.sf-icon-Videoondemand:before { content: "\e717"; }
.sf-icon-Music:before { content: "\e718"; }
.sf-icon-Consulting:before { content: "\e719"; }
.sf-icon-Bowl:before { content: "\e71a"; }
.sf-icon-Videostreaming:before { content: "\e71b"; }
.sf-icon-Bill:before { content: "\e71c"; }
.sf-icon-Thumbs:before { content: "\e71d"; }
.sf-icon-Excel:before { content: "\e71e"; }
.sf-icon-Swimming:before { content: "\e71f"; }
.sf-icon-Menu:before { content: "\e720"; }
.sf-icon-Weightlifting:before { content: "\e721"; }
.sf-icon-OpenBook:before { content: "\e722"; }
.sf-icon-Flight:before { content: "\e723"; }
.sf-icon-boxing-gloves:before { content: "\e724"; }
.sf-icon-Time:before { content: "\e726"; }
.sf-icon-arrowhead-down_01:before { content: "\e729"; }
.sf-icon-arrowhead-up:before { content: "\e727"; }
.sf-icon-menu-01-wf:before { content: "\e731"; }
.sf-icon-CircleShape:before { content: "\e732"; }
.sf-icon-Submit:before { content: "\e733"; }
.sf-icon-Noodles:before { content: "\e734"; }
.sf-icon-sort-descending-wf:before { content: "\e735"; }
.sf-icon-sort-ascending-wf:before { content: "\e736"; }
.sf-icon-sort-ascending:before { content: "\e737"; }
.sf-icon-sort-descending-01:before { content: "\e738"; }
.sf-icon-command-refresh-wf:before { content: "\e739"; }
.sf-icon-sync---02:before { content: "\e740"; }
.sf-icon-add-new:before { content: "\e741"; }
.sf-icon-plus:before { content: "\e742"; }
.sf-icon-clock-01:before { content: "\e743"; }
