<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Licensing" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.Compression" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.Calculate" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.DataSource" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.DocIO" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.OfficeChart" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.Pdf" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.Presentation" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.PresentationRenderer" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfAutoComplete.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfBarCode.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfBusyIndicator.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfCalendar.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfCarousel.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfChart.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfComboBox.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfDataGrid.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfDataForm.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfGauge.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.GridCommon" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="syncfusion.Xamarin.DataGridExport.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfImageEditor.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfKanban.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="syncfusion.Xamarin.SfMaps.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfNavigationDrawer.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfNumericTextBox.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfNumericUpDown.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="syncfusion.Xamarin.SfPdfViewer.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfPopupLayout.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfPullToRefresh.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfRadialMenu.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfRangeSlider.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfRating.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfTabView.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfPicker.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfRotator.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfSchedule.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfSparkline.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfSunburstChart.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfTreeMap.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.XlsIO" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfDiagram.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfProgressBar.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfMaskedEdit.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.Buttons.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfTreeView.IOS" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.XlsIORenderer" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.DocIORenderer" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SkiaSharpHelper" version="18.1.0.52" targetFramework="xamarinios10" />
  <package id="SkiaSharp" version="1.59.3" targetFramework="xamarinios10" />
</packages>