<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Control</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The Chart control can plot over 30 chart types ranging from line charts to specialized financial charts.</string>
			<key>ControlName</key>
			<string>Chart</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>YES</string>
			<key>IsPreview</key>
			<string>NO</string>
			<key>Type1</key>
			<string>TYPES,Line,Step Line,Spline,Column,Histogram,Bar,Area,Spline Area,Step Area,Pie,Semi Pie,Doughnut,Semi Doughnut,Pyramid,Funnel,Bubble,Scatter,Range Column,Range Bar,Range Area,Spline Range Area,Candle,OHLC,Polar,Radar,Stacked Line,100% Stacked Line,Stacked Column,100% Stacked Column,Stacked Bar,100% Stacked Bar,Stacked Area,100% Stacked Area</string>
			<key>Type2</key>
			<string>FEATURES,Live Update,Trendlines,GradientChart,ChartAnnotation,StackedDoughnut,AxisCrossing,Category Axis,DateTime Axis,Numerical Axis,Logarithmic Axis,Strip Lines,Multiple Axes,Trackball,Data Point Selection,Zooming and Panning,Vertical Chart,Tooltip,Data Marker,Auto Scrolling,Technical Indicators</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>The data grid control for Xamarin is a high-performance grid component that is used to display the data in a tabular format.</string>
			<key>ControlName</key>
			<string>DataGrid</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>TreeView is a data-oriented control that displays data in a hierarchical structure with expanding and collapsing nodes.</string>
			<key>ControlName</key>
			<string>TreeView</string>
			<key>IsNew</key>
			<string>No</string>
			<key>IsPreview</key>
			<string>No</string>
			<key>IsUpdated</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>AutoComplete functionality provides suggestions to the user while typing.</string>
			<key>ControlName</key>
			<string>AutoComplete</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>A circular gauge is a circular scale that allows you to visualize any circular range.</string>
			<key>ControlName</key>
			<string>CircularGauge</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>The Schedule control is used to schedule and manage the appointments through an intuitive user interface to plan and manage the events or appointments in an efficient way.</string>
			<key>ControlName</key>
			<string>Schedule</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>ImageEditor allows user to editing the images like adding shapes, text and rotating.</string>
			<key>ControlName</key>
			<string>ImageEditor</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>PDF viewer is a new control that allows PDF documents to be viewed within your Xamarin iOS application.</string>
			<key>ControlName</key>
			<string>PDFViewer</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>The Diagram control allows to create different types of diagrams such as flow charts, use case diagrams, workflow process diagrams and more.</string>
			<key>ControlName</key>
			<string>Diagram</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>TabView allows to display the content in pages with swiping.</string>
			<key>ControlName</key>
			<string>TabView</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>The segmented control provides option to choose from a linear set of two or more segments, each of which functions as a mutually exclusive button.</string>
			<key>ControlName</key>
			<string>SegmentedControl</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>SfPopupLayout allows the user to display an alert message with the customizable buttons or load any desired view inside the pop-up.</string>
			<key>ControlName</key>
			<string>Popup</string>
			<key>IsNew</key>
			<string>No</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>NavigationDrawer is a sliding panel menu that comes out from the edge of the window and allows to have the menu in a hidden panel.</string>
			<key>ControlName</key>
			<string>NavigationDrawer</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Carousel control allows navigating through image data in an interactive way so that they can be viewed or selected.</string>
			<key>ControlName</key>
			<string>Carousel</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>The DataForm control helps to develop various forms such as login, reservation and data entry, etc.It displays properties in list or grid layout.</string>
			<key>ControlName</key>
			<string>DataForm</string>
			<key>IsNew</key>
			<string>No</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Calendar is a user interface component that displays Gregorian calendar. This component allows the user to select a date. It also provides a gesture-friendly UI to perform operations such as navigations, events, and more. </string>
			<key>ControlName</key>
			<string>Calendar</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>NumericTextBox is an advanced version of the EditText control that restricts input to numeric values.</string>
			<key>ControlName</key>
			<string>NumericTextBox</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Picker allows user to pick an item from the options provided.</string>
			<key>ControlName</key>
			<string>Picker</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>The MaskedEdit control allows the user to restrict the input to certain types of characters/text/numbers using a mask pattern.</string>
			<key>ControlName</key>
			<string>MaskedEdit</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
			<key>IsNew</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>The check box is a selection control that allows users to select one or more options from a set.</string>
			<key>ControlName</key>
			<string>CheckBox</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
			<key>IsNew</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>The radio button is a selection control that allows users to select one option from a set.</string>
			<key>ControlName</key>
			<string>RadioButton</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
			<key>IsNew</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>NumericUpDown control restricts input to numeric values.</string>
			<key>ControlName</key>
			<string>NumericUpDown</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>The Kanban control is an efficient way to visualize a workflow at each stage of its completion.</string>
			<key>ControlName</key>
			<string>Kanban</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>The Range navigator control provides an intuitive interface for selecting a smaller range from a larger collection.</string>
			<key>ControlName</key>
			<string>RangeNavigator</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>A linear gauge is a circular scale that allows you to visualize any linear range.</string>
			<key>ControlName</key>
			<string>LinearGauge</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>A digital gauge is used to display alphanumeric characters in digital mode.</string>
			<key>ControlName</key>
			<string>DigitalGauge</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Sunburst Chart is useful for visualizing hierarchical data.</string>
			<key>ControlName</key>
			<string>SunburstChart</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Maps control provides a graphical representation of geographical data. It is used to represent the statistical data of a particular geographical area on Earth.</string>
			<key>ControlName</key>
			<string>Maps</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Treemap control provides a simple yet effective way to visualize flat or hierarchical data as clustered rectangles,with a specific weighted attribute of the rectangle.</string>
			<key>ControlName</key>
			<string>TreeMap</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Barcode used to encode texts by using supported symbol types that comprises one and two dimensional Barcodes</string>
			<key>ControlName</key>
			<string>Barcode</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>A sparkline is a very small chart, typically drawn without axes or coordinates. It presents the general shape of data’s in a simple and highly condensed way.</string>
			<key>ControlName</key>
			<string>Sparkline</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>XlsIO is a .NET class library that can read, write and modify Microsoft Excel documents.</string>
			<key>ControlName</key>
			<string>XlsIO</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>DocIO is a .NET class library that can read, write and modify Microsoft Word documents.</string>
			<key>ControlName</key>
			<string>DocIO</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>YES</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Presentation is a .NET class library that can read, write and modify Microsoft PowerPoint files (*.pptx only).</string>
			<key>ControlName</key>
			<string>Presentation</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>YES</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>PDF is a .NET class library that can create and modify PDF files.</string>
			<key>ControlName</key>
			<string>PDF</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>RadialMenu displays menu in a circular layout. It can expose more menu items in the same space than traditional menus.</string>
			<key>ControlName</key>
			<string>RadialMenu</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>SfPullToRefresh is a pullable panel which on pulling down the main content in order to refresh the data in the application </string>
			<key>ControlName</key>
			<string>PullToRefresh</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Customizable visual indicating the progress of the operation.</string>
			<key>ControlName</key>
			<string>ProgressBar</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>No</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Animated controls can be used to indicate busy status during application loading, data processing/validation, etc</string>
			<key>ControlName</key>
			<string>BusyIndicator</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Rating control provides the number of stars that represents a rating.</string>
			<key>ControlName</key>
			<string>Rating</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Rotator is a data control used to display image data and navigate through them.</string>
			<key>ControlName</key>
			<string>Rotator</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>RangeSlider control allows you to select the range of value within the specified minimum and maximum limits. </string>
			<key>ControlName</key>
			<string>RangeSlider</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>The DataSource is a non-UI component that consumes raw data and processes data operations such as sorting, filtering, and grouping.</string>
			<key>ControlName</key>
			<string>DataSource</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Calculate is an independent class library that allows you to provide extensive calculation support to your business objects.</string>
			<key>ControlName</key>
			<string>Calculate</string>
			<key>IsNew</key>
			<string>No</string>
			<key>IsUpdated</key>
			<string>NO</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>The SfComboBox control Allows the user to select an item either type a value or select a value from the List</string>
			<key>ControlName</key>
			<string>ComboBox</string>
			<key>IsNew</key>
			<string>NO</string>
			<key>IsUpdated</key>
			<string>No</string>
			<key>IsPreview</key>
			<string>NO</string>
		</dict>
	</array>
</dict>
</plist>
