<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DataGrid</key>
	<dict>
		<key>AutoRowHeight</key>
		<array>
			<string>AutoRowHeight</string>
			<string>Model/ReleaseInfo</string>
			<string>Model/ReleaseInfoRepository</string>
			<string>ViewModel/AutoRowHeightViewModel</string>
		</array>
		<key>CustomSorting</key>
		<array>
			<string>CustomSorting</string>
			<string>Model/CustomerDetails</string>
			<string>Model/CustomersRepository</string>
			<string>ViewModel/CustomerViewModel</string>
		</array>
		<key>CustomGrouping</key>
		<array>
			<string>CustomGrouping</string>
			<string>Model/SalesByDate</string>
			<string>Model/SalesInfoRepository</string>
			<string>ViewModel/SalesInfoViewModel</string>
		</array>
		<key>Exporting</key>
		<array>
			<string>Exporting</string>
			<string>Model/OrderInfo</string>
			<string>Model/OrderDetailsRepository</string>
			<string>ViewModel/ExportingViewModel</string>
		</array>
		<key>UnboundColumn</key>
		<array>
			<string>UnboundColumn</string>
			<string>Model/Products</string>
			<string>Model/ProductRepository</string>
			<string>ViewModel/UnboundViewModel</string>
		</array>
		<key>Filtering</key>
		<array>
			<string>Filtering</string>
			<string>Model/BookInfo</string>
			<string>Model/BookRepository</string>
			<string>ViewModel/FilterViewModel</string>
		</array>
		<key>Formatting</key>
		<array>
			<string>Formatting</string>
			<string>Model/BankInfo</string>
			<string>Model/BankRepository</string>
			<string>ViewModel/FormattingViewModel</string>
		</array>
		<key>FrozenView</key>
		<array>
			<string>FrozenView</string>
			<string>Model/Products</string>
			<string>Model/ProductRepository</string>
			<string>ViewModel/FrozenViewViewModel</string>
		</array>
		<key>GridGettingStarted</key>
		<array>
			<string>GridGettingStarted</string>
			<string>Model/OrderInfo</string>
			<string>Model/OrderDetailsRepository</string>
			<string>ViewModel/GridGettingStartedViewModel</string>
		</array>
		<key>Grouping</key>
		<array>
			<string>Grouping</string>
			<string>Model/ProductInfo</string>
			<string>Model/ProductInfoRepository</string>
			<string>ViewModel/GroupingViewModel</string>
		</array>
		<key>IncrementalLoading</key>
		<array>
			<string>IncrementalLoading</string>
		</array>
		<key>LoadMore</key>
		<array>
			<string>LoadMore</string>
			<string>Model/OrderInfo</string>
			<string>Model/OrderDetailsRepository</string>
			<string>ViewModel/LoadMoreViewModel</string>
			<string>Helpers/Command</string>
		</array>
		<key>Paging</key>
		<array>
			<string>Paging</string>
			<string>Model/OrderInfo</string>
			<string>Model/OrderDetailsRepository</string>
			<string>ViewModel/PagingViewModel</string>
		</array>
		<key>PullToRefresh</key>
		<array>
			<string>PullToRefresh</string>
			<string>Model/OrderInfo</string>
			<string>Model/OrderDetailsRepository</string>
			<string>ViewModel/PullToRefreshViewModel</string>
			<string>Helpers/Command</string>
		</array>
		<key>RenderingDynamicData</key>
		<array>
			<string>RenderingDynamicData</string>
			<string>Model/StockData</string>
			<string>ViewModel/StocksViewModel</string>
		</array>
		<key>Selection</key>
		<array>
			<string>Selection</string>
			<string>Model/ProductInfo</string>
			<string>Model/ProductInfoRepository</string>
			<string>ViewModel/SelectionViewModel</string>
		</array>
		<key>Sorting</key>
		<array>
			<string>Sorting</string>
			<string>Model/Products</string>
			<string>Model/ProductRepository</string>
			<string>ViewModel/SortViewModel</string>
		</array>
		<key>Styles</key>
		<array>
			<string>Styles</string>
			<string>Model/OrderInfo</string>
			<string>Model/OrderDetailsRepository</string>
			<string>ViewModel/GridGettingStartedViewModel</string>
		</array>
		<key>Swiping</key>
		<array>
			<string>Swiping</string>
			<string>Model/OrderInfo</string>
			<string>Model/OrderDetailsRepository</string>
			<string>ViewModel/SwipingViewModel</string>
		</array>
		<key>DragAndDrop</key>
		<array>
			<string>DragAndDrop</string>
			<string>Model/OrderInfo</string>
			<string>Model/OrderDetailsRepository</string>
			<string>ViewModel/DragAndDropViewModel</string>
		</array>
	</dict>
	<key>DataSource</key>
	<dict>
		<key>DataSourceGettingStarted</key>
		<array>
			<string>DataSourceGettingStarted</string>
			<string>Model/BookDetails</string>
			<string>Model/BookDetailsRepository</string>
			<string>ViewModel/DataSourceGettingStartedViewModel</string>
			<string>Helper/CustomTableCell</string>
			<string>Helper/TableViewSource</string>
		</array>
		<key>DataSourceGrouping</key>
		<array>
			<string>DataSourceGrouping</string>
			<string>Model/Contacts</string>
			<string>Model/ContactsList</string>
			<string>ViewModel/ContactsViewModel</string>
			<string>Helper/ContactCell</string>
			<string>Helper/TableViewSource</string>
		</array>
		<key>DataSourceSorting</key>
		<array>
			<string>DataSourceSorting</string>
			<string>Model/Contacts</string>
			<string>Model/ContactsList</string>
			<string>ViewModel/ContactsViewModel</string>
			<string>Helper/ContactCell</string>
			<string>Helper/TableViewSource</string>
		</array>
	</dict>
	<key>DataForm</key>
	<dict>
		<key>ContactForm</key>
    <array>
      <string>ContactForm</string>
      <string>Model/ContactInfo</string>    
      <string>Model/ContactInfoRepository</string> 
      <string>ViewModel/ContactViewModel</string> 
      <string>Helpers/DataFormController</string> 
      <string>Helpers/DataFormLayoutManagerExt</string> 
      <string>Helpers/ContactTableSource</string> 
    </array>

    <key>FormGettingStarted</key>
    <array>
      <string>FormGettingStarted</string>   
      <string>Model/RecipientInfo</string>      
    </array>
	</dict>
	<key>Calculate</key>
	<dict>
		<key>FunctionsLibrary</key>
		<array>
			<string>FunctionsLibrary</string>
			<string>Helper/FunctionsLibraryView</string>
			<string>Helper/FunctionsLibraryViewModel</string>
			<string>Helper/FunctionsHelper</string>
		</array>
	</dict>

  <key>Popup</key>
  <dict>
    <key>PopupGettingStarted</key>
    <array>
      <string>PopupGettingStarted</string>
      <string>CustomStyles</string>
    </array>
    <key>PopupCustomizations</key>
    <array>
      <string>PopupCustomizations</string>
      <string>MovieTile</string>
      <string>TheaterTile</string>
      <string>TicketBookingInfo</string>
      <string>TicketBookingViewModel</string>
      <string>TicketInfoRepository</string>
    </array>
    <key>DetailsView</key>
    <array>
      <string>DetailsView</string>
    </array>
  </dict>

  <key>PDFViewer</key>
	<dict>
		<key>CustomToolbar</key>
		<array>
			<string>CustomToolbar</string>
			<string>Helpers/AnnotationHelper</string>
			<string>Helpers/TextMarkupAnnotationHelper</string>
			<string>Helpers/InkAnnotationHelper</string>
		</array>
    <key>FillAndSign</key>
    <array>
      <string>FillAndSign</string>
    </array>
	</dict>
	<key>TreeView</key>
	<dict>
     	<key>GettingStarted</key>
		<array>
			<string>GettingStarted</string>
			<string>Helper/CustomAdapter/GettingStartedAdapter</string>
			<string>Model/FoodSpeciesModel</string>
			<string>ViewModel/FoodSpeciesViewModel</string>
		</array>
		<key>NodeWithImage</key>
		<array>
			<string>NodeWithImage</string>
			<string>Helper/CustomView/NodeImageView</string>
			<string>Helper/CustomAdapter/NodeImageAdapter</string>
			<string>Model/FileManager</string>
			<string>ViewModel/FileManagerViewModel</string>
		</array>
		<key>Selection</key>
		<array>
			<string>Selection</string>
			<string>Helper/CustomAdapter/SelectionAdapter</string>
			<string>Model/Countries</string>
			<string>ViewModel/CountriesViewModel</string>
		</array>
		<key>TreeTemplate</key>
		<array>
			<string>TreeTemplate</string>
			<string>Helper/CustomView/TemplateSelectorView</string>
			<string>Helper/CustomAdapter/TemplateAdapter</string>
			<string>ViewModel/MailFolderViewModel</string>
			<string>Model/MailFolder</string>
		</array>
	</dict>
</dict>
</plist>
