<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="com.syncfusion.samplebrowser.sfnavigationdrawer" Publisher="CN=paulanderson" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="c3a4de61-6b77-443d-b766-7ccda4d23f20" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>NavigationDrawer Sample</DisplayName>
    <PublisherDisplayName>paulanderson</PublisherDisplayName>
    <Logo>SampleBrowser.Core.UWP\Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SampleBrowser.SfNavigationDrawer.UWP.App">
      <uap:VisualElements DisplayName="NavigationDrawer Sample" Square150x150Logo="SampleBrowser.Core.UWP\Assets\Square150x150Logo.png" Square44x44Logo="SampleBrowser.Core.UWP\Assets\Square44x44Logo.png" Description="SampleBrowser.SfNavigationDrawer.UWP" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="SampleBrowser.Core.UWP\Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="SampleBrowser.Core.UWP\Assets\SplashScreen.png" BackgroundColor="blue" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>